@use '../../styles/variables' as *;
.instrument-card {
  width: 230px;
  height: 300px;
  border-radius: 20px;
  background: $primary;
  padding: 5px;
  overflow: hidden;
  position: relative;
  box-shadow:
    -4px 4px 9px #505050,
    4px -4px 9px #ffffff;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1;
  .coin-bg {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;

    height: 70%;
    opacity: 0.05;
    margin: auto;
    z-index: 0;
    border-radius: 50%;
  }
  &__no-data {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      opacity: 0.05;
      z-index: 2;
    }
    &:before {
      content: 'No Data Available';

      color: #fff;
    }
  }

  &:hover {
    transform: scale(1.05);

    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .coin-logo {
    height: 100%;
    border-radius: 50%;
  }
  .top-section {
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, $dark-shadow 0%, $light-shadow 100%);
    position: relative;

    .border {
      border-bottom-right-radius: 10px;
      height: 30px;
      width: 130px;
      background: white;
      background: $primary;
      position: relative;
      transform: skew(-40deg);
      box-shadow: -10px -10px 0 0 $primary;

      &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        top: 0;
        right: -15px;
        background: rgba(255, 255, 255, 0);
        border-top-left-radius: 10px;
        box-shadow: -5px -5px 0 2px $primary;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 30px;
      left: 0;
      background: rgba(183, 16, 16, 0);
      height: 15px;
      width: 15px;
      border-top-left-radius: 15px;
      box-shadow: -5px -5px 0 2px $primary;
    }

    .icons {
      position: absolute;
      top: 0;
      right: 8px;
      left: 0;
      width: auto;
      height: 26px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;

      .logo {
        display: flex;
        align-items: center;
        gap: 6px;
        padding-left: 6px;
        height: 26px;
        color: #ffffff;
      }

      .social-media {
        height: 20px;
        display: flex;
        gap: 7px;
        padding-top: 6px;
      }
    }
  }

  .bottom-section {
    margin-top: 15px;
    padding: 10px 5px;

    .title {
      display: block;
      font-size: 17px;
      font-weight: bolder;
      color: white;
      text-align: center;
      letter-spacing: 2px;
    }

    .row {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .item {
        flex: 30%;
        text-align: center;
        padding: 5px;
        color: rgba(170, 222, 243, 0.721);

        .big-text {
          font-size: 12px;
          display: block;
        }

        .regular-text {
          font-size: 9px;
        }

        &:nth-child(2) {
          border-left: 1px solid rgba(255, 255, 255, 0.126);
          border-right: 1px solid rgba(255, 255, 255, 0.126);
        }
      }
    }
  }
  .indicator {
    height: 16px;
    width: 16px;
    margin: auto;
  }
}

.tradingview-widget-container {
  margin: auto;
  padding-top: 20px;
  position: relative;
  z-index: 2;
}

.loader {
  position: absolute;
  inset: 0;
  margin: auto;
  color: #fff;
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #d7d7d700);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size:
      calc(100% / 3) 0%,
      calc(100% / 3) 100%,
      calc(100% / 3) 100%;
  }
  50% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 0%,
      calc(100% / 3) 100%;
  }
  66% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 100%,
      calc(100% / 3) 0%;
  }
}
.price {
  position: absolute;
  top: 31px;
  left: 6px;
  color: #fff;
}
